:root {
    --bodyBackground: linear-gradient(0deg, rgba(92, 92, 92, 1) 29%, rgba(99, 99, 99, 1) 38%, rgba(138, 138, 138, 1) 56%, rgba(144, 144, 144, 1) 63%, rgba(130, 130, 130, 1) 70%, rgba(92, 92, 92, 1) 89%);
    --border1: 1px solid black;
    --border2: 1px solid rgb(109, 109, 109);
    --logoShadow: drop-shadow(1px 1px 0px rgba(197, 197, 197, 0.3));
    --footerTextShadow: 0px 1px 0px rgba(197, 197, 197, 0.3), 0px -1.5px 0px rgba(0, 0, 0, .7);
    --pianoShadow: 1px 1px 0px rgba(197, 197, 197, 0.3), -1px -1px 0px rgba(197, 197, 197, 0.3);
    --whiteKeysShadow: 0px 1px 0px rgba(197, 197, 197, 0.3), 0px -1px 0px rgba(24, 24, 24, 0.767);
    --blackKeysBoxShadow: 1px 1px 2px rgb(0, 0, 0), -1px 0px 2px rgb(0, 0, 0), inset 3px 3px 3px black, inset -3px -3px 3px black;
    --blackKeysActive: 1px 1px 2px rgb(0, 0, 0), -1px 0px 2px rgb(0, 0, 0), inset 4px 4px 5px rgb(0, 0, 0), inset -4px -4px 5px rgb(0, 0, 0);
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    grid-template-rows: 12vh 50.2vh 0vh 37vh;
    background: var(--bodyBackground);
    font-size: 0.9em;
    font-weight: bold;
    font-family: monospace;
}

.piano {
    border: var(--border1);
    background-color: rgb(70, 70, 70);
    border-radius: 5px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    position: relative;
    box-shadow: var(--pianoShadow);
}

.container_white {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(45, 1fr);
    grid-template-rows: 50vh;
}

.container_black {
    border-radius: 5px;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(45, 1fr);
    grid-template-rows: 32vh;
    border-top: 0.5px solid black;
}

.keyw {
    color: rgb(189, 189, 189);
    text-shadow: var(--whiteKeysShadow);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    grid-column: auto / span 3;
    border-radius: 5px;
    font-family: sans-serif;
    border: var(--border1);
    box-shadow: inset 0px 0px 6px 0px rgb(2, 2, 2);
}

.keyw:active,
.keyw.active {
    color: rgb(165, 165, 165);
    background-color: rgb(211, 211, 211);
    box-shadow: inset 0px 0px 8px 2px rgb(2, 2, 2);
    font-size: 0.88em;
    border: var(--border1);
}

.keyb {
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    text-shadow: 0px 1px 0px rgba(197, 197, 197, 0.5);
    background-color: rgb(53, 53, 53);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px;
    box-shadow: var(--blackKeysBoxShadow);
    border: var(--border2);
}

.keyb:active,
.keyb.active {
    background-color: rgb(41, 41, 41);
    box-shadow: var(--blackKeysActive);
    border: var(--border2);
    font-size: 1.2em;
}

#one {
    grid-column: 3 / 5;
}

#two {
    grid-column: 6 / 8;
}

#four {
    grid-column: 12 / 14;
}

#five {
    grid-column: 15 / 17;
}

#six {
    grid-column: 18 / 20;
}

#eight {
    grid-column: 24 / 26;
}

#nine {
    grid-column: 27 / 29;
}

#minus {
    grid-column: 33 / 35;
}

#equal {
    grid-column: 36 / 38;
}

#backspace {
    grid-column: 39 / 41;
}

footer {
    text-shadow: var(--footerTextShadow);
    color: #414141;
    font-size: 1.5em;
    grid-column: 1/ -1;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    margin-top: 0;
    letter-spacing: 3px;
}

h3 {
    letter-spacing: 3px;
}

img {
    width: 45px;
    height: auto;
}

.html5 {
    filter: var(--logoShadow);
}

.css3 {
    filter: var(--logoShadow);
}

.js {
    margin-left: 3px;
    filter: var(--logoShadow);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 2000px) {
    body {
        grid-template-columns: 1fr 6fr 1fr;
    }
}